.plan-list {

    p {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        font-size: 14px;
        background-color: #343A40;
        color: white;
        word-wrap: break-word;
        text-align: left;
    }
}